@charset "utf-8";

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#hanged-title {
	background-image: url(smartmatic.png);
	background-repeat: no-repeat;
	padding-left: 176px;
	text-transform: uppercase;
	color: #1E497E;
	font-weight: normal;
	font-variant: small-caps;
	height: 37px;
}
#hanged-message {
	color: #1E497E;
	font-weight: bold;
	width: 330px;
}
#hanged-result-message {
	float: right;
	height: 40px;
}
#hanged-won, #hanged-lost {
	float: left;
	height: 40px;
}
#hanged-lost {
	display: none;
}
#hanged-correction {
	float: right;
	width: 190px;
}
#hanged-correct-word {
	float: right;
	width: 190px;
}
#hanged-game-form-div,  #hanged-setup-form-div{
	float: left;
}
#hanged-setup {
}
#hanged-tries {
	float: right;
}
#hanged-submit,
#hanged-reset {
	float: left;
}
#hanged-back{
	float: left;
}
